.content {
    height: 500px;
    width: 1150px;
    display: flex;
    flex-direction: row;
}

.palette {
    width: 150px;
}

.options {
    display: flex;
    justify-content: center;
}

.colors {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.colors-not-found {
    writing-mode: vertical-lr;
    scale: -1;
    margin-top: 10px;
    font-weight: 100;
}